export(predint, precint, nparpredint, nparprecint, lmpredint)
exportClasses("PInt", "PredInterval", "PrecInterval", "NormalPredInterval", "NormalPrecInterval", "nparPredInterval", "nparPrecInterval", "PIlm")
exportMethods("show")


