export(predint, precint, nparpredint, nparprecint)
exportClasses("PInt", "PredInterval", "PrecInterval", "NormalPredInterval", "NormalPrecInterval", "nparPredInterval", "nparPrecInterval")
exportMethods("show")


